:root{
    /* Primary */

    --linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --red:hsl(0, 100%, 66%);

    /* Natural */

    --white:  hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);

    /* Font */

    --family: 'Space Grotesk', sans-serif;
    --size: 1.125rem;
    --weights: 500;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,body{
    min-height: 100vh;
}

body{
    display: flex;
    justify-content: center;
    font-family: var(--family);
}

main{
    background-color: #fff;
    width:100% ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
}

.left-side {
    width: 100%;
    position: relative;
    display: flex;
}

.left-side .bg-mobile{
    width: 100%;
    height: 18rem;
}

.left-side .bg-desktop{
    display: none;
}

.container-side{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
}

.card{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
    max-width: 21rem;
}

.card img{
    width: 100%;
    height: 100%;
}


.left-side .card-front{
    position: relative;
    bottom: 5.1rem;
    margin-right: 4.3rem;
}

.left-side .card-back{
    margin-left: 4.3rem;
}

.left-side .card-front .content-card-front{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-side .card-front .content-card-front .header-card .logo-card img{
    width: 4.5rem;
}

.left-side .card-front .content-card-front .footer-card{
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    color: var(--white);
}

.left-side .card-front .content-card-front .footer-card .number-card{
    display: flex;
    justify-content: space-between;
    font-weight: var(--weights);
    letter-spacing: .2rem;
    font-size: var(--size);
}

.left-side .card-front .content-card-front .footer-card .user-card{
    display: flex;
    justify-content: space-between;
    font-size: .6rem;
    color: var(--light-grayish-violet);
}

.left-side .card-front .content-card-front .footer-card .user-card .date-card{
    display: flex;
    gap: .1rem;
    letter-spacing: .1rem;
}

.left-side .cvc{
    position: absolute;
    top: 5.4rem;
    right: 2.7rem;
    letter-spacing: .1rem;
    color: var(--white);
    font-size: .7rem;
}

.right-side{
    padding-top: 8rem;
}




/* Responsive */

@media screen and (min-width: 1440px) {

    body{
        align-items: center;
    }

    main{
        width: 70rem;
        flex-direction: row;
    }

    .left-side{
        width: 21rem;
        height: 40rem;
        position: relative;
    }

    .left-side .bg-desktop{
        display: block;
        width: 100%;
        height: 100%;
    }

    .left-side .card-front{
        bottom: 0rem;
        margin-right: 0rem;
    }
    
    .left-side .card-back{
        margin-left: 0rem;
    }

    .container-side{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 0rem;
        gap: 1.8rem;
    }

    .left-side .card-back{
        left: 11rem;
    }

    .left-side .card-front{
        left: 6rem;
    }
    

    .left-side .bg-mobile{
        display: none;
    }

    .card{
        max-width: 100%;
    }

    .left-side .cvc{
        top: 5.4rem;
        right: 2.7rem;
    }

    .right-side{
        padding-top: 0rem;
    }
}

@media screen and (max-width: 406px) {

    .container-side{
        overflow: auto;
    }

    .card{
        max-width: auto;
        width: 21rem;
    }

    .left-side .card-front{
        margin-right: 0rem;
    }
    
    .left-side .card-back{
        margin-left: 0rem;
    }



}